body {
	background-color: black;
    background-image: url('http://bit.ly/UpQgJ6');
    background-repeat: cover;
}

h1 {
	color: purple;
	text-align: center;
}

input {
	background-color: #f5593c;
	color: white;
	text-align: center;
	border-color: #f5593c;
}

img {
    position: absolute;
    left: 0;
    top: 0;
    height: 154px;
    width: 154px;
}

#spacetrack {
	height: 330px;
}

h2 {
	color: white;
	text-transform: uppercase;
	text-align: center;
	padding: 20px 0;
	border-bottom: solid 1px white;
}

.spaceInfo {
	color: #fdab26;
	font-size: 20px;
	font-weight: bold
	width: 50%;
/*	float: right;*/
	text-align: center;	
}

#spaceInfoContainer {
	width: 80%;
	margin: 40px auto 0;
}

.spaceInfo span {
	display: block;
	font-weight: normal;
	font-size: 18px;
	color: #fdab26;
}

#spaceInfo1 {
	color: #f5593c;
}

#spaceInfo2 {
	color: purple;
}

input[type="button"] {
	background-color: #f5593c;
	color: white;
	padding: 10px 20px;
	border: solid 1px #444;
}

input#reset {
	background: #444;
	color: white;
}

#planet {
	display: block;
	position: relative;
}

#planet1 {
	top: 100px;
	padding: 20px;
}

#planet2 {
	top: 300px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
